*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: #cdd5f5;
    font-family: 'B612', sans-serif;
}
.topo_container{
    background-image: url(../imagens/ceu.jpg);
    height:300px ;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.topo_container > div {
    left: 750px;
    top: 100px;
}


h1{
    text-align: center;
    color: white;
    font-family: 'Laila', serif;
    background-color: rgba(55, 55, 167, 0.479);
    width: 40%;
    margin: 0 auto;
    padding: 0.8em;

}

#slogan{
    text-align: center;
    
}
#sobre img{
    width:600px;
}

#sobre{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    overflow: hidden;
}
#sobre>div{
    width: 30%;
   
}
.caixa_grande{
    display: flex;
    justify-content: space-around;
}
.caixa_media {
    width: 23%;
    
}
.caixa_pequena {
    background-color:rgb(76, 76, 238); 
    height: 200px; 
    font-size: 1.5em;
    text-align: center;
    padding-top: 50px;
    border-radius: 20px;

}
#habilidades h2{
    font-size: 3em;
    text-align: center;
    padding-bottom:20px ;
}

.flex{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
#passa_tempo h2{
    font-size: 2em;
    text-align: center;
    padding: 30px 0;
}
#passa_tempo img{
    height: 100px;
    border-radius: 50%;
    float: left;
    margin: 10px;
}
#passa_tempo{
    font-size: 1.5em;

}
#contatos h2{
    font-size: 3em;
    text-align: center;
    padding:20px;
    
     
    
}
#contatos .flex >div{
    font-size: 1.5em; 
   
}
@media(max-width:1275px){
    .conteudo_topo content h1{
       
        
    }
}







